footer {
  display: grid;
  text-align: center;
  margin: auto;
  width: 100%;
  background-image: url(../assets/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}

footer span {
  color: var(--color-purple);
  font: var(--text-subtitle);
}
footer p {
  font: var(--title-md);
  color: var(--base-color-500);
  margin-bottom: 48px;
}

footer section > div {
  display: flex;

  h2 {
    text-align: start;
    align-content: center;
    margin-left: 12px;
    font: var(--title-md);
  }
}

footer section {
  gap: 16px;
}

.base-color-300-1 {
  background-color: var(--base-color-300);
  border-radius: 8px;
  width: 400px;
  height: 68px;
  padding: 20px 20px;
}

.img-footer {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.title-footer {
  margin-top: 128px;
}