* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #e3646e;
  --color-purple: #bb72e9;
  --color-blue: #3996db;
  --color-green: #82bc4f;
  --color-yeelow: #eabd5f;

  --base-color-100: #0d0e11;
  --base-color-200: #16181d;
  --base-color-300: #292c34;
  --base-color-400: #878ea1;
  --base-color-500: #c0c4ce;
  --base-color-600: #e2e4e9;

  --font-family-aspa: 'Asap', sans-serif;
  --font-family-inconsolta: 'Inconsolata', monospace;
  --font-family-maven: 'Maven Pro', sans-serif;

  --text-lg: bold 56px/120% var(--font-family-aspa);
  --text-md: bold 24px/120% var(--font-family-aspa);
  --text-sm: bold 16px/120% var(--font-family-aspa);

  --text-subtitle: 400 20px/120% var(--font-family-inconsolta);

  --title-md: 400 16px var(--font-family-maven);
  --title-sm: 400 14px/140% var(--font-family-maven);
}

body {
  font: var(--font-family-aspa);
  color: var(--base-color-600);

  background-image: url(../assets/Background_Contacts.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  justify-items: center;
  text-align: center;
}

.gap-16 {
  display: flex;
  gap: 16px;
}
